In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# importing dataset
data=pd.read_csv("world_bank_dataset.csv")
data.head()

,Country,Year,GDP (USD),Population,Life Expectancy,Unemployment Rate (%),CO2 Emissions (metric tons per capita),Access to Electricity (%)
0,Brazil,2010,1.493220e+12,829020000.0,66.7,3.81,10.79,76.76
1,Japan,2011,1.756270e+13,897010000.0,61.4,17.98,15.67,67.86
2,India,2012,1.642688e+13,669850000.0,69.1,16.02,2.08,81.08
3,Mexico,2013,1.189001e+13,113800000.0,80.1,6.26,19.13,53.46
4,India,2014,2.673020e+12,29710000.0,62.7,3.10,15.66,82.17

In [3]:
# performing univariate data analysis
# Q1.What are the unique countries in the dataset?
data["Country"].unique()

array(['Brazil', 'Japan', 'India', 'Mexico', 'United Kingdom', 'China',
       'Indonesia', 'Canada', 'Argentina', 'Nigeria', 'Italy', 'Turkey',
       'Saudi Arabia', 'Russia', 'France', 'United States', 'Germany',
       'South Korea', 'Australia', 'South Africa'], dtype=object)

In [7]:
# Q2.Number of unique countries in the dataset?data["Country"].nunique()
data["Country"].nunique()

20

In [4]:
# Q3. Return number row and number of column
data.shape

(200, 8)

In [5]:
# Q4.What is the average GDP for each country?
data["GDP (USD)"].mean()

np.float64(10568674550000.0)

In [8]:
# Q5.Which country has the highest GDP?
data.loc[data["GDP (USD)"].idxmax(), "Country"]

'Turkey'

In [10]:
# Q6.Which country has the lowest GDP?
data.loc[data["GDP (USD)"].idxmin(),"Country"]

'United States'

In [12]:
# Q7.What is the average population size for each country?
data.groupby("Country")["Population"].mean()

Country
Argentina         8.461125e+08
Australia         5.860700e+08
Brazil            6.238429e+08
Canada            6.306470e+08
China             6.159000e+08
France            5.915642e+08
Germany           8.520243e+08
India             5.619060e+08
Indonesia         7.205638e+08
Italy             7.601692e+08
Japan             6.203970e+08
Mexico            7.600200e+08
Nigeria           8.119689e+08
Russia            8.014125e+08
Saudi Arabia      8.975546e+08
South Africa      9.359662e+08
South Korea       9.841967e+08
Turkey            5.963389e+08
United Kingdom    8.402123e+08
United States     8.224318e+08
Name: Population, dtype: float64

In [19]:
# Q8.Rank countries by average life expectancy and display the top 10.
d=data.groupby("Country")["Life Expectancy"].mean().nlargest(10)

Country
Turkey            70.577778
Brazil            70.471429
South Africa      70.400000
Saudi Arabia      69.538462
India             69.453333
Germany           69.071429
China             68.900000
Australia         68.785714
South Korea       68.016667
United Kingdom    67.261538
Name: Life Expectancy, dtype: float64

In [26]:
# Q10.Determine the year with the highest global CO2 emissions per capita.

data.loc[data["CO2 Emissions (metric tons per capita)"].idxmax(),"Year"]

np.int64(2018)

In [33]:
# Q11.Identify which country had the highest GDP per capita in any year.
data["GDPperCapita"]=data["GDP (USD)"]/data["Population"]

In [35]:
data.loc[data["GDPperCapita"].idxmax(),["Country","GDPperCapita"]]

Country                France
GDPperCapita    1070103.30993
Name: 114, dtype: object

In [37]:
# Q12.Group countries into tiers by GDP and analyze the average unemployment in each tier.
data["GDP (USD)"].max()

np.float64(19983770000000.0)

In [71]:
medium_condition = (data["GDP (USD)"] >= 3000) & (data["GDP (USD)"] < 13322513333333.334)

# Assign country names to the 'medium' column based on the condition
data["medium"] = np.where(medium_condition, data["Country"], np.nan)  # or use '' for an empty string

# Check the first few rows to confirm
print(data[["Country", "GDP (USD)", "medium"]].head())

  Country     GDP (USD)  medium
0  Brazil  1.493220e+12  Brazil
1   Japan  1.756270e+13     NaN
2   India  1.642688e+13     NaN
3  Mexico  1.189001e+13  Mexico
4   India  2.673020e+12   India